# SonarQube database settings used by docker compose.
POSTGRES_HOST=postgres
POSTGRES_USER=sonar
POSTGRES_PASSWORD=change-this-local-password
POSTGRES_DB=sonar

# Scanner settings. Use host.docker.internal for Docker Desktop.
SONAR_HOST_URL=http://host.docker.internal:9000
SONAR_TOKEN=replace-with-your-sonarqube-token
